@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    padding: 0;
    margin: 0;
}
.container{
    background-color: #EB6440;
    width: 2500px;
    height: 80px;
}
.logo{
    width: 73px;
    height: 80px;
    position:absolute;
    left: 160px;
    }
#login{
    position: absolute;
    right: 360px;
    top: 20px;
    text-decoration: none;
    color:black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    
}
#registrar{
    position: absolute;
    right: 160px;
    top: 20px;
    text-decoration: none; 
    color:black;
    font-size: 17px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}

.container-principal{
   text-align: center;
   margin-left: 119px;
   margin-top: 80px;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 20px;
}
.container-principal img {
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #EB6440;
    text-align: center;
    padding: 35px;
    margin-top: 80px;
}
@media screen and (max-width: 950px) {
    .container-principal {
        height: auto;
        padding: 10px;
    }
}